<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./layouts/head') %>
    <title><%= board_name.b_name %></title>
  </head>
  <body>
    <%- include('./layouts/lnb') %>
    <br/>

    <main>
      <h1><%= board_name.b_name %></h1>
      <br/>

        <p><a href="/post_write?b_no=<%= board_no.b_no %>&b_id=<%= b_id %>&u_no=1">글쓰기</a></p>
        <br/>

        <p>검색어를 입력하세요.</p>
        <input
        type="search"
        id="keyword"
        placeholder="검색어"/>
        <br/>

        <button
        id="search"
        onclick="searchKeyword()">
        검색
        </button>
        <br/>

        <p>총 <%= post_count.bc_count %> 건</p>
        <br/>

        <table>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
          </tr>
          <tbody>
            <% for (const el of post_list) { %>
              <tr>
                <td><%= el.bc_no %></td>
                <td><a href="/post?bc_no=<%= el.bc_no %>&b_id=<%= b_id %>"><%= el.bc_title %></a></td>
                <td><%= el.u_id %></td>
                <td><%= el.bc_create_dt %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
    </main>
    <br/>

    <%- include('./layouts/footer') %>

    <script>
      function searchKeyword() {
        const keyword = $('#keyword').val();

        location.href = '/board?b_id=<%= b_id %>&keyword=' + keyword;
      }
    </script>
  </body>
</html>