<!-- 해당 페이지가 잘 동작하는 걸 확인한 후에 전역 타입 유효성 검사를 적용하고 제출했는데 에러가 발생하는 걸 제출 후에 발견했고 해결했습니다. 죄송합니다. -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./layouts/head') %>
    <title><%= board_name.b_name %> > 글 수정</title>
  </head>
  <body>
    <%- include('./layouts/lnb') %>

    <main>
      <h1>글 수정</h1>
      <br/>
        <p>제목을 입력하세요.</p>
        <br/>
        <input
        type="text"
        id="bc_title"
        placeholder="제목"
        value="<%= post_info.bc_title %>"/>
        <br/>

        <p>내용을 입력하세요.</p>
        <br/>
        <textarea
        id="bc_description"
        placeholder="내용"><%= post_info.bc_description %></textarea>
        <br/>

        <button
        id="update_post"
        onclick="modifyPost()">
        수정
        </button>
    </main>
    <br/>

    <%- include('./layouts/footer') %>

    <script>
      function modifyPost() {
        const data = {
      bc_no: <%= bc_no %>,
          bc_title: $('#bc_title').val().trim(),
          bc_description: $('#bc_description').val().trim(),
        };

        if (!data.bc_title) {
          alert('제목을 입력해주세요.');
          return;
        }

        if (!data.bc_description) {
          alert('내용을 입력해주세요.');
          return;
        }

        apiPatch('/api/post/modify-post', data, function (data) {
          if (data.result_code === 'SUCCESS') {
            location.href = '/board?b_id=<%= b_id %>';
          }
        }, function (error) {
          if (error) {
            alert(error.message);
          }
        });
      }
    </script>
  </body>
</html>