<!-- 해당 페이지가 잘 동작하는 걸 확인한 후에 전역 타입 유효성 검사를 적용하고 제출했는데 에러가 발생하는 걸 제출 후에 발견했고 해결했습니다. 죄송합니다. -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./layouts/head') %>
    <title><%= board_name.b_name %> > <%= post_info.bc_title %></title>
  </head>
  <body>
    <%- include('./layouts/lnb') %>
    <br/>

    <main>
      <h1><%= post_info.bc_title %></h1>
      <p>by <%= post_info.u_id %></p>
      <p>등록일: <%= post_info.bc_create_dt %></p>
      <% if (post_info.bc_update_dt) { %>
        <p>수정일: <%= post_info.bc_update_dt %></p>
      <% } %>
      <br/>

        <article>
          <%= post_info.bc_description %>
        </article>
        <br/>

      <p><a href="post_update?bc_no=<%= bc_no %>&b_id=<%= b_id %>">수정</a></p>
      <br/>

      <button
      onclick="removePost()">
      삭제
      </button>
    </main>
    <br/>

    <%- include('./layouts/footer') %>

    <script>
      function removePost() {
        const data = {
          bc_no: <%= bc_no %>
        };

        if (confirm('정말로 해당 게시물을 삭제하시겠습니까?')) {
          apiDelete('/api/post/remove-post', data, function (data) {
            if (data.result_code === 'SUCCESS') {
              location.href = '/board?b_id=<%= b_id %>';
            }
          }, function (error) {
            if (error) {
              alert(error.message);
            }
          });
        }
      }
    </script>
  </body>
</html>